
<main role="main">
  <div class="row">
    <div class="row col-12 header p-0">
      <div class="col-2">
        <img src="assets/img/Group 363.png" class="Group-363"  srcset="assets/img/group-363@2x.png 2x,assets/img/group-363@3x.png 3x">
      </div>
      <div class="row col-10 p-0">
        <div class="row col-12 mt-3 offset-9">
          <button class="col-2 navB">
            <span>
            Cómo funciona
            </span>
          </button>
          <button class="col-1 navB">
            <span>
              Entrar
            </span>
          </button>    
        </div>
      </div>
    </div>
    <div class="row col-12 p-0">
      <div class="col-5">
        <img class="img2" src="assets/img/image 2.png" srcset="assets/img/image 2@2x.png 2x,assets/img/image 2@3x.png 3x">
      </div>
      <div class="row col-4 offset-1 content">
        <div class="row col-12">
          <!-- <ng-container>
            <span class="col-12 t1">
              Crear tu cuenta
            </span>
            <span class="t2 mt-3">
              Al aceptar crear una cuenta en 100 Ladrillos aceptas nuestro
              <span class="t3">Aviso de Privacidad, Derechos Arco</span>
              y nuestros
              <span class="t3">Términos y Condiciones</span>.
            </span>
            <div class="mt-3">
              <label>
                ¿Cuál es tu correo electrónico?
              </label>
              <input class="mt-1" placeholder="tu@correo.com">
            </div>
            <div class="mt-3">
              <label>
               Ingresa una contraseña
              </label>
              <input class="mt-1" placeholder="Contraseña">
            </div>
          </ng-container> -->
          <!-- <ng-container>
            <div class="row col-8 mt-2">
              <div class="Rectangle-1299 col-2"></div>
              <span class="reg col-8">
                o regístrate con:
              </span>
              <div class="Rectangle-1298 col-2"></div>
            </div>
            <div class="row col-8 mt-4">
              <div class="col-3 offset-2">
                <img src="assets/img/2000px-Google_G_Logo 1.png" srcset="assets/img/2000px-Google_G_Logo 1@2x.png 2x,assets/img/2000px-Google_G_Logo 1@3x.png 3x">
              </div>
              <div class="col-3">
                <img src="assets/img/microsoft-windows-logo 1.png" srcset="assets/img/microsoft-windows-logo 1@2x.png 2x,assets/img/microsoft-windows-logo 1@3x.png 3x">
              </div>
              <div class="col-3">
                <img src="assets/img/facebok 1.png" srcset="assets/img/facebok 1@2x.png 2x,assets/img/facebok 1@3x.png 3x">
              </div>
            </div>
            <div class="row col-4 mt-4 offset-2">
              <div class="col-1 offset-1">
                <img src="assets/img/SystemsIcons.png" srcset="assets/img/SystemsIcons@2x.png 2x,assets/img/SystemsIcons@3x.png 3x">
              </div>
              <div class="col-1">
                <img src="assets/img/SystemsIcons1.png" srcset="assets/img/SystemsIcons1@2x.png 2x,assets/img/SystemsIcons1@3x.png 3x">
              </div>
              <div class="col-1">
                <img src="assets/img/SystemsIcons1.png" srcset="assets/img/SystemsIcons1@2x.png 2x,assets/img/SystemsIcons1@3x.png 3x">
              </div>
              <div class="col-1">
                <img src="assets/img/SystemsIcons1.png" srcset="assets/img/SystemsIcons1@2x.png 2x,assets/img/SystemsIcons1@3x.png 3x">
              </div>
            </div>
          </ng-container> -->
          <!-- <ng-container>
            <div class="row col-12 mt-2">
              <span class="tt1">
                Por razones de seguridad tu contraseña debe tener las siguientes carateristicas:
              </span>
            </div>
            <div class="col-9">
              <span class="tt1">
                <img src="assets/img/Oval-2-Copy-2.png" srcset="assets/img/Oval-2-Copy-2@2x.png 2x,assets/img/Oval-2-Copy-2@3x.png 3x">&nbsp;&nbsp;Mínimo 6 caracteres (letras, números y caracteres especiales).<br/>
                <img src="assets/img/Oval-2-Copy-2.png" srcset="assets/img/Oval-2-Copy-2@2x.png 2x,assets/img/Oval-2-Copy-2@3x.png 3x">&nbsp;&nbsp;Mínimo 1 número.<br/>
                <img src="assets/img/Oval-2-Copy-2.png" srcset="assets/img/Oval-2-Copy-2@2x.png 2x,assets/img/Oval-2-Copy-2@3x.png 3x">&nbsp;&nbsp;Mínimo 1 de estos caracteres especiales !”#$%&/()=?¿^*@,[]&#123;&#125;:_>&lt,.-|`+.<br/>
                <img src="assets/img/Oval-2-Copy-2.png" srcset="assets/img/Oval-2-Copy-2@2x.png 2x,assets/img/Oval-2-Copy-2@3x.png 3x">&nbsp;&nbsp;No tener la frase “100Ladrillos”.<br/>
                <img src="assets/img/Oval-2-Copy-2.png" srcset="assets/img/Oval-2-Copy-2@2x.png 2x,assets/img/Oval-2-Copy-2@3x.png 3x">&nbsp;&nbsp;No tener mas de 3 caracteres idénticos en forma consecutiva (ej: aaa).<br/>
                <img src="assets/img/Oval-2-Copy-2.png" srcset="assets/img/Oval-2-Copy-2@2x.png 2x,assets/img/Oval-2-Copy-2@3x.png 3x">&nbsp;&nbsp;No tener mas de 3 caracteres numéricos y/o letras en forma secuencial&nbsp; (ej: 123).
              </span>
            </div>
            <div class="mt-3">
              <label>
                Confirma tu contraseña
              </label>
              <input class="mt-1" placeholder="Contraseña">
            </div>
            <div class="col-4">
              <button class="mt-4 next">Siguiente</button>
            </div>
          </ng-container> -->
          <ng-container>
            <span class="col-12 t1 mt-50">
              ¿Cuál es tu teléfono celular?
            </span>
            <div>
              <input class="mt-4" placeholder="1234-5678"><img class="eye" src="assets/img/ VisibilityOff.png" srcset="assets/img/ VisibilityOff@2x.png 2x,assets/img/ VisibilityOff@3x.png 3x">
            </div>
            <div class="row col-8">
              <div class="col-4">
                <button class="mt-4 next btn">Anterior</button>
              </div>
              <div class="col-4">
                <button class="mt-4 next btn">Siguiente</button>
              </div>
            </div>
            <div class="row col-4 mt-4 offset-2">
              <div class="col-1 offset-1">
                <img src="assets/img/SystemsIcons1.png" srcset="assets/img/SystemsIcons1@2x.png 2x,assets/img/SystemsIcons1@3x.png 3x">
              </div>
              <div class="col-1">
                <img src="assets/img/SystemsIcons.png" srcset="assets/img/SystemsIcons@2x.png 2x,assets/img/SystemsIcons@3x.png 3x">
              </div>
              <div class="col-1">
                <img src="assets/img/SystemsIcons1.png" srcset="assets/img/SystemsIcons1@2x.png 2x,assets/img/SystemsIcons1@3x.png 3x">
              </div>
              <div class="col-1">
                <img src="assets/img/SystemsIcons1.png" srcset="assets/img/SystemsIcons1@2x.png 2x,assets/img/SystemsIcons1@3x.png 3x">
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <a href="#miModal">Abrir Modal</a>
    <div id="miModal" class="modal">
      <div class="modal-contenido">
        <a href="#">X</a>
        <h2>Mi primer Modal</h2>
        <p>Este es mi primera ventana modal sin utilizar JavaScript.</p>
      </div>  
    </div>
  </div>

 
</main>