.main {
    width: 1370px;
    height: 675px;
    flex-grow: 0;
    background-color: white;
  }
  .header {
    height: 8rem;
    border: solid 1px lightgray;
  }
  img.Group-363{
    width: 90%;
    height: 100%;
    padding: 24px 50px;
  }
  .navB{
      background-color: white;
      border: none;
      height: 80%;
      color: red;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 19px;
  }
  .img2 {
    width: 85%;
    height: 100%;
    margin: 0 0 0 0;
  }
  .t1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: rgba(0, 0, 0, 0.72);
    margin-top: 150px;
  }
  .t2 {
    width: 60%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: left;
    color: rgba(0, 0, 0, 0.583);
  }
  .t3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: left;
    color: rgb(83, 179, 223);
  }
  .tt1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    text-align: left;
    color: rgb(139, 137, 137);
  }
  label {
    width: 60%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: left;
    color: rgba(0, 0, 0, 0.583);
  }
  input {
    width: 60%;
    height: 40px;
    border: solid 1px lightgray;
    background-color: white;
    padding: 0 12px;
    border-radius: 4px;
  }
  .content{
     height: 220px !important;
  }
  .Rectangle-1299 {
    width: 84.4px;
    height: 1px;
    flex-grow: 0;
    margin: 30px 11.9px 10px 14px;
    transform: rotate(180deg);
    background-color: lightgray;
  }
  .reg{
      margin-top:15px;
  }
  .Rectangle-1298 {
    width: 84.4px;
    height: 1px;
    flex-grow: 0;
    margin: -11px 0 10px 261.1px;
    transform: rotate(180deg);
    background-color: lightgray;
  }
  ::placeholder {
    color: lightgray;
  }
  .next{
    width: 60%;
    height: 40px;
    border: solid 1px lightgray;
    background-color: white;
    padding: 0 12px;
    border-radius: 4px;
    background-color: white;
    color: darkgray;
  }
  .btn{
    width: 100%;
  }
  .mt-50{
    margin-top: 250px;
  }
  .eye{
      margin-left: -25px;
  }
.modal-contenido{
  background-color:aqua;
  width:300px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
}
.modal-contenido{
  background-color:aqua;
  width:300px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
}
.modal{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
}
#miModal:target{
  opacity:1;
  pointer-events:auto;
}