
<main role="main">
  <div class="row col-12 header" [ngClass]="{'imgBack':sizeDisplay == 'phone'}">
    <div class="col-2 mt-3" *ngIf="sizeDisplay == 'web'">
      <img src="assets/img/Group363.png" srcset="assets/img/Group363.png 320w,assets/img/Group363@2x.png 480w,assets/img/Group363@3x.png 800w" class="Group-363 img-fluid img-thumbnail" >
    </div>
    <div class="row col-4 offset-6 menu" [ngClass]="{'menuBar':sizeDisplay == 'phone'}">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <img src="assets/img/HamburgerMenu.webp" class="menuBurguer">
          </button>
          <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{'navbar-collapseA':sizeDisplay == 'phone'}">
            <ul class="navbar-nav col-12">
              <li class="nav-item col5 offset-2">
                <a class="nav-link active" aria-current="page" href="#">Cómo funciona</a>
              </li>
              <li class="nav-item col-5">
                <a class="nav-link active" aria-current="page" href="#">Entrar</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="row col-12" *ngIf="sizeDisplay == 'web'">
    <div class="col-5 p0">
      <img class="img2 img-fluid img-thumbnail p0" src="assets/img/image2.png" srcset="assets/img/image2@2x.png 2x,assets/img/image2@3x.png 3x">
    </div>
    <div class="row col-5 offset-1 content">
      <div class="row col-8 offset-2">
        <register-root></register-root>
      </div>
    </div>
  </div>
  <div class="row col-12 noMargPadd" *ngIf="sizeDisplay == 'phone'">
    <register-root [sizeDisplay]="sizeDisplay" class="resize"></register-root>
  </div>
</main>


